* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #000;
  color: #ffffff;
}

h1 {
  color: goldenrod;
  margin-top: 0;
  padding: 0;
}

a {
  color: #f06529;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.links {
  height: 50px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 100px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navigation-links .top a {
  color: white;
}

.links a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: goldenrod;
  color: white;
}

.container {
  margin: 100px auto;
  width: 100%;
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 20px;
}

.images-gallery {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}

.photo-2 {
 
}

.tech-stack {
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.tech-stack .description {
  display: flex;
  gap: 20px;
  max-width: 500px;
}

.tech-stack .description .html {
  width: 50px;
  height: 30px;
  background-color: #f06529;
}

.tech-stack .description .css {
  width: 50px;
  height: 30px;
  background-color: #f06529;
}

.tech-stack .description .javascript {
  width: 100px;
  height: 30px;
  background-color: #f06529;
}

.tech-stack .description .typescript {
  width: 100px;
  height: 30px;
  background-color: #f06529;
}

.tech-stack .description .nodejs {
  width: 75px;
  height: 30px;
  background-color: #f06529;
}

.tech-stack .description .react {
  width: 50px;
  height: 30px;
  background-color: #f06529;
}

.connect {
  margin: 100px auto;
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.connect .end {
  padding: 10px;
}

footer,
.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ffffff;
}

/* styling page contact */

.contact-header {
  margin: 100px auto;
  max-width: 700px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-form {
  margin: 50px auto;
  max-width: 700px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: goldenrod;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16;
  background-color: #333;
  color: #fff;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form button {
  padding: 10px 15px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ffffff;
  margin-bottom: 0;
  padding: 0;
}

/* styling page about */
.about-content {
  margin: 100px auto;
  max-width: 700px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}




.about-header {
  margin: 100px auto;
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.about-footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
}

<<<<<<< HEAD
/* styling page work */
.work-header {
  margin: 100px auto;
  max-width: 800px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.work-content {
  margin: 100px auto;
  max-width: 800px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

/* styling page learn */

.learn-header {
  margin: 100px auto;
  max-width: 800px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.learn-content {
  margin: 100px auto;
  max-width: 800px;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
=======
.space-y {
  display: flex;
  flex-direction: column;
  gap: 20px;
>>>>>>> 69aab54e69fd46be00a4daf64f40cb412039fda0
}
