body {
  font-family: Poppins, sans-serif;
  background-color: #000;
  color: #ffffff;
}

h1 {
  color: #fa774b;
}

.navigation-links {
  padding: 10px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
}
