h1 {
  font-family: poppins;

}

body {
  background-color: #000;
  font-family: poppins;
  color: #ffffff;

}

.navigation-links {
  padding: 10px;
}

.links a {
  color: #ffffff;
text-decoration: none;

}

.work {
  font-size: 50px;
}
